---
title: "LAUNCHER UPDATE - License Verification & Improvements"
date: "2025-10-06"
tag: "Launcher"
---

# LAUNCHER UPDATE 🚀

## Changes 🗒️

- Simplified notification messages
- The launcher will no longer redirect users to the version changer page if an unsupported version is detected
- Enabling beta builds in the launcher doesn't invoke a version check
  - Version checking will only be done for stable builds

## Important: License Verification 🚨

Added license verification to the launcher. The launcher will attempt to verify if you own a genuine copy of the game. If it detects something isn't right, you will be notified.

The game version label will change color to indicate the verification status:
- 🟢 indicates you own the game
- 🔴 indicates you don't own the game
- 🟡 indicates the launcher couldn't verify ownership

**This won't affect your access to Flarial Client.**

### Why was license verification added?

- When we build & test Flarial Client, we use a genuine copy of the game obtained via the Microsoft Store
- We expect our users to also use a genuine copy to ensure consistency
- Some people use other means to access the game but this causes unintended side effects
- Because of this, we cannot provide support for them

**You can play on `1.21.11X` by enabling Beta in the Launcher's Settings.**

Please let us know if there are any issues via our [GitHub Issue Tracker](https://github.com/flarialmc/dll/issues) or community support.
